@import url("reset.css");
@import url("resume.css");
@import url("reel.css");
@import url("contact.css");

@import url("navigation.css");
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Secular One', sans-serif;
    background-color: var(--sub-color-light-org);
}

.hidden {
    display: none;
}

a, a:focus {
    text-decoration: none;
    color: var(--sub-color-pup);
}

a:hover {
    color: var(--sub-color-blu)
}

:root {
    --page-margin: 30px;
    /* color scheme */
    --main-color: rgb(255, 162, 193);
    --sub-color-pnk: rgb(250, 192, 239);
    --sub-color-org: rgb(255, 204, 94);
    --sub-color-light-org: rgb(255, 235, 211);
    --sub-color-pup: rgb(96, 75, 149);
    --sub-color-blu: rgb(90, 120, 212);
    --sub-color-wht: white;
    /* font sizes */
    --title-text: 22px;
    --subtitle-text: 20px;
    --page-title-text: 38px;
    --body-text: 14px;
    --greeting-text: 50px;
}

@media screen and (max-width: 544px) {
    .siteSections {
        visibility: hidden;
    }
    .subGif {
        flex-direction: column;
    }
    .greetingText {
        font-size: var(--page-title-text);
        bottom: 200px;
    }

    .introductionText {
        font-size: var(--subtitle-text);
        bottom: 60px;
    }
}

@media screen and (min-width: 544px) {
    .navCollapsed {
        visibility: hidden;
    }
    .navOpened {
        display: none;
    }

    .greetingText {
        font-size: var(--greeting-text);
        bottom: 250px;
        min-width: 450px;
        padding-bottom: 30px;
        align-self: center;
    }

    .introductionText {
        font-size: var(--title-text);
        bottom: 100px;
        max-width: 700px;
    }
}

@media screen and (min-width: 370px) and (max-width:544px) {
    .greetingText {
        width: 300px;
    }
    .introductionText {
        font-size: var(--body-text);
    }
}




container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--page-margin);
}

.indexPage {
    background-color: var(--sub-color-blu);
}

.frontGif > img {
    text-decoration: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin-top: -30px;
    box-sizing: border-box;
}



.greetingText {
    margin: var(--page-margin);
    color: var(--sub-color-wht);
    position:sticky;
    line-height: 120%;
}

.greetingText > span:first-child {
    font-size: 150px;
}

.greetingText > img {
    width: 130px;
}

.introductionText {
    margin: var(--page-margin);
    color: var(--sub-color-wht);
    position:sticky;
    line-height: 150%;
    
}

.subGif {
    width: 100vw;
    height: auto;
    display: flex;
    margin-top: -10px;
    object-fit: cover;
}

.subGif img {
    width: 150%;
}