@import url("reset.css");
@import url("resume.css");
@import url("reel.css");
@import url("contact.css");

@import url("navigation.css");
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Secular One', sans-serif;
}

.hidden {
    display: none;
}

a, a:focus {
    text-decoration: none;
    color: var(--sub-color-pup);
}

a:hover {
    color: var(--sub-color-blu)
}

:root {
    --page-margin: 30px;
    /* color scheme */
    --main-color: rgb(255, 162, 193);
    --sub-color-pnk: rgb(250, 192, 239);
    --sub-color-org: rgb(255, 204, 94);
    --sub-color-light-org: rgb(255, 235, 211);
    --sub-color-pup: rgb(96, 75, 149);
    --sub-color-blu: rgb(90, 120, 212);
    --sub-color-wht: white;
    /* font sizes */
    --title-text: 22px;
    --subtitle-text: 17px;
    --page-title-text: 35px;
    --body-text: 14px;
    --greeting-text: 80px;
}

@media screen and (max-width: 544px) {
    .siteSections {
        visibility: hidden;
    }
    .subGif {
        flex-direction: column;
    }
}

@media screen and (min-width: 544px) {
    .navCollapsed {
        visibility: hidden;
    }
    .navOpened {
        display: none;
    }
}

.frontGif > img {
    text-decoration: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin-top: -30px;
    box-sizing: border-box;
}

.greetingText {
    margin: var(--page-margin);
    color: var(--sub-color-wht);
    font-size: var(--greeting-text);
    position:absolute;
    bottom: 0;
    line-height: 90%;
}

.subGif {
    display: flex;
    margin-top: -10px;
}