nav {
    width: inherit;
    min-width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--page-margin);
    background-color: var(--main-color);
    box-sizing: border-box;
}

.navCollapsed {
    justify-content: center;
    align-items: center;
    align-self: center;
    color: var(--sub-color-pup);
    z-index: 1;
    padding: var(--page-margin);
    position: absolute;
    top: 0;
    right: 0;
}

.navCollapsed:hover {
    cursor: pointer;
    color: var(--sub-color-blu);
}

.siteTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-right: 5px;
    color: var(--sub-color-pup)
}

.siteSections {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    margin-left: var(--page-margin);
    color: var(--sub-color-blu);
}

.title {
    color: var(--sub-color-pup);
    font-size: var(--title-text);
    width: 116.5px;
}

.navOpened {
    display: flex;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: var(--page-margin);
    font-size: var(--page-title-text);
}

.navOpened > .section {
    font-size: var(--title-text);

}